.carBlock{
    border: 1px solid grey;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;

}
.car{
    display: inline-block;
    width: 250px;
    font-size: 20px;
    font-weight: bold;

}

.btn:hover{
    cursor: pointer;
}
.btn{
    width: 80%;
}
.btnBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}