

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;300;400;500;600&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(35,36,42,100%);
    font-size: 20px;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;

}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;

}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

.formBox{
    position: absolute;
    background: #28292d;
    border-radius: 8px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    inset: 4px;
    z-index: 10;
}
.formBox h3{
    color: #45f3ff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0;
}
.form{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.form input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 10;
}

.form span{
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.form input:valid ~ span,
.form input:focus ~ span{
    color: #45f3ff;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0.75em;
}

.form i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.reg{
    position: absolute;
    right: 40px;
    margin: 10px 0;
    font-size: 0.65em;
    color: #8f8f8f;
    cursor: pointer;
}

.form input:valid ~ i,
.form input:focus ~ i{
    height: 46px;

}

.btn{
    border: none;
    outline: none;
    background: #45f3ff;
    padding: 11px 25px;
    width: 100px;
    margin-top: 45px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
.btn:active{
    opacity: 0.8;
}
