.maine{
    width: 400px;
    height: 300px;
    margin: 50% auto;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    margin-top: 100px;
    background: aquamarine;
    text-align: center;
}
.input{
    margin: 0 auto;
    width: 80%;
    height: 50px;
    border-radius: 20px;
    outline: none;
}
.input:hover{
    cursor: pointer;
}
